alabaster==0.7.12
altair==5.0.1
anaconda-client==1.2.2
anaconda-project==version
anyio==version
appdirs==1.4.4
argon2-cffi==version
argon2-cffi-bindings==version
arrow==version
astroid==version
astropy==version
asttokens==version
atomicwrites==1.4.0
attrs==version
Automat==version
autopep8==version
Babel==version
backcall==version
backports.functools-lru-cache==version
backports.tempfile==version
backports.weakref==1.0.post1
bcrypt==version
beautifulsoup4==version
binaryornot==version
black==version
bleach==version
blinker==1.6.2
bokeh==version
boltons==version
Bottleneck==version
brotlipy==0.7.0
cachetools==5.3.1
certifi==version
cffi==version
chardet==version
charset-normalizer==version
click==version
cloudpickle ==version
clyent==1.2.2
colorama==version
colorcet==version
comm==version
conda==23.3.1
conda-build==3.24.0
conda-content-trust==version
conda-pack==version
conda-package-handling==version
conda-repo-cli==1.0.41
conda-token==version
conda-verify==3.4.2
conda_package_streaming==version
constantly==15.1.0
contourpy==version
cookiecutter==version
cryptography==version
cssselect==1.1.0
cycler==version
cytoolz==version
daal4py==2023.0.2
dask==version
datashader==version
datashape==0.5.4
debugpy==version
decorator==version
defusedxml==version
diff-match-patch==version
dill==version
distributed==version
docstring-to-markdown==version
docutils==version
entrypoints==version
et-xmlfile==1.1.0
executing==version
fastjsonschema==version
filelock==version
flake8==version
Flask==version
flit_core==version
fonttools==4.25.0
fsspec==version
future==version
gensim==version
gitdb==4.0.10
GitPython==3.1.31
glob2==version
greenlet==version
h5py==version
HeapDict==version
holoviews==version
huggingface-hub==version
hvplot==version
hyperlink==version
idna==version
imagecodecs==version
imageio==version
imagesize==version
imbalanced-learn==version
importlib-metadata==version
incremental==version
inflection==0.5.1
iniconfig==version
intake==version
intervaltree==version
ipykernel==version
ipython==version
ipython-genutils==version
ipywidgets==version
isort==version
itemadapter==version
itemloaders==version
itsdangerous==version
jedi==version
jellyfish==version
Jinja2==version
jinja2-time==version
jmespath==version
joblib==version
json5==version
jsonpatch==version
jsonpointer==2.1
jsonschema==version
jupyter==version
jupyter-console==version
jupyter-server==version
jupyter_client==version
jupyter_core==version
jupyterlab==version
jupyterlab-pygments==version
jupyterlab-widgets==version
jupyterlab_server==version
keyring==version
kiwisolver==version
lazy-object-proxy==version
libarchive-c==version
llvmlite==0.39.1
locket==version
lxml==version
lz4==version
Markdown==version
markdown-it-py==3.0.0
MarkupSafe==version
matplotlib==version
matplotlib-inline==version
mccabe==version
mdurl==0.1.2
menuinst==version
mistune==version
mkl-fft==1.3.1
mkl-random==version
mkl-service==2.4.0
mock==version
mpmath==1.2.1
msgpack==version
multipledispatch==version
munkres==1.1.4
mypy-extensions==0.4.3
navigator-updater==0.3.0
nbclassic==version
nbclient==version
nbconvert==version
nbformat==version
nest-asyncio==version
networkx==version
nltk==version
notebook==version
notebook_shim==version
numba==version
numexpr==version
numpy==version
numpydoc==version
opencv-python==4.7.0.72
opencv-python-headless==4.7.0.72
openpyxl==3.0.10
packaging==version
pandas==version
pandocfilters==version
panel==version
param==version
paramiko==version
parsel==version
parso==version
partd==version
pathlib==version
pathspec==version
patsy==0.5.3
pep8==1.7.1
pexpect==version
pickleshare==version
Pillow==9.4.0
pkginfo==version
platformdirs==version
plotly==version
pluggy==version
ply==3.11
pooch==version
poyo==version
prometheus-client==version
prompt-toolkit==version
Protego==version
protobuf==4.23.3
psutil==version
ptyprocess==version
pure-eval==version
py==version
pyarrow==12.0.1
pyasn1==version
pyasn1-modules==0.2.8
pycodestyle==version
pycosat==version
pycparser==version
pyct==version
pycurl==7.45.1
pydeck==0.8.1b0
PyDispatcher==2.0.5
pydocstyle==version
pyerfa==version
pyflakes==version
Pygments==2.15.1
PyHamcrest==version
PyJWT==version
pylint==version
pylint-venv==version
pyls-spyder==0.4.0
Pympler==1.0.1
PyNaCl==version
pyodbc==version
pyOpenSSL==version
pyparsing==version
PyQt5==5.15.7
PyQt5-sip==version
PyQtWebEngine==5.15.4
pyrsistent==version
PySocks==version
pytest==7.1.2
python-dateutil==version
python-lsp-black==version
python-lsp-jsonrpc==1.0.0
python-lsp-server==version
python-slugify==version
python-snappy==version
pytoolconfig==version
pytz==version
pytz-deprecation-shim==0.1.0.post0
pyviz-comms==version
PyWavelets==version
pywin32==305.1
pywin32-ctypes==version
pywinpty==version
PyYAML==version
pyzmq==version
QDarkStyle==version
qstylizer==version
QtAwesome==version
qtconsole==version
QtPy==version
queuelib==1.5.0
regex==version
requests==version
requests-file==version
requests-toolbelt==version
rich==13.4.2
rope==version
Rtree==version
ruamel-yaml-conda==version
ruamel.yaml==version
ruamel.yaml.clib==version
scikit-image==version
scikit-learn==1.2.2
scikit-learn-intelex==20230228.214818
scipy==1.10.0
Scrapy==version
seaborn==version
Send2Trash==version
service-identity==version
sip==version
six==version
smart-open==version
smmap==5.0.0
sniffio==version
snowballstemmer==version
sortedcontainers==version
soupsieve==version
Sphinx==version
sphinxcontrib-applehelp==version
sphinxcontrib-devhelp==version
sphinxcontrib-htmlhelp==version
sphinxcontrib-jsmath==version
sphinxcontrib-qthelp==version
sphinxcontrib-serializinghtml==version
spyder==version
spyder-kernels==version
SQLAlchemy==version
stack-data==version
statsmodels==version
streamlit==1.23.1
sympy==version
tables==3.7.0
tabulate==version
TBB==0.2
tblib==version
tenacity==version
terminado==version
text-unidecode==version
textdistance==version
threadpoolctl==version
three-merge==version
tifffile==version
tinycss2==version
tldextract==version
tokenizers==version
toml==version
tomli==version
tomlkit==version
toolz==version
torch==1.12.1
tornado==version
tqdm==version
traitlets==version
transformers==version
Twisted==version
twisted-iocpsupport==version
typing_extensions==version
tzdata==2023.3
tzlocal==4.3
ujson==version
Unidecode==version
urllib3==version
validators==0.20.0
w3lib==version
watchdog==version
wcwidth==version
webencodings==0.5.1
websocket-client==version
Werkzeug==version
whatthepatch==version
widgetsnbextension==version
win-inet-pton==version
wincertstore==0.2
wrapt==version
xarray==version
xlwings==version
yapf==version
zict==2.1.0
zipp==version
zope.interface==version
zstandard==0.19.0
opencv-python-headless
